<!DOCTYPE html>
<html ng-app="gemStore">
<head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body class="list-group" ng-controller="StoreController as store">
    <!--  Product Container  -->
    <div class="list-group-item" ng-repeat="product in store.products">
        <h3>{{product.name}} <em class="pull-right">{{product.price | currency}}</em></h3>

        <!-- Image Gallery  -->
        <div class="gallery">
            <div class="img-wrap">
                <img ng-src="{{product.images[0]}}" />
            </div>
            <ul class="img-thumbnails clearfix">
                <!-- 1 - Iterar todas las imagenes para los distintos productos, utilizar image como nuestro indicador -->
                <li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
                    <!-- 2 - Mostrar la imagen usando el item actual de iteración -->
                    <img ng-src="{{ image }}" />
                </li>
            </ul>
        </div>
    </div>
</body>
</html>